body {
  background: hsl(0 0% 90%);
}

#header {
  position: fixed;
  top: 0px;
  min-height: 80px;
  width: 100%;
  background: hsl(0 0% 90%);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav-link {
  margin-right: 10%;
}

.logo {
  max-width: 30%;
}

#container {
  margin-top: 100px;
  text-align: center;
}

#video {
  min-width: 640px;
  min-height: 360px;
}

#description {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;
}

li {
  list-style: none;
}

#pricing {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.price {
  height: 200px;
  width: 200px;
  background: hsl(0 0% 95%);
  border: 1px solid black; 
}

@media (max-width < max-height) {
  /* mobile layout */
  #pricing {
    flex-direction: column;
  }
}