main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas:
        "navbar content1 margin"
        "navbar content2 margin"
        "navbar content3 margin"
        "navbar content4 margin"
        "navbar content5 margin";
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-section {
    padding: 5px;
}

#Hello_World {
    grid-area: content1;
}

#Variables_and_Data_Types {
    grid-area: content2;
}

#Conditionals {
    grid-area: content3;
}

#Loops {
    grid-area: content4;
}

#Putting_it_all_Together {
    grid-area: content5;
}

#navbar {
    grid-area: navbar;
    position: fixed;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background:hsl(0 0% 10%);
    color: hsl(0 0% 90%);
}

#navbar>header {
    text-decoration: underline;
}

.nav-link {
    padding: 10px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-decoration: none;
    color: hsl(0 0% 90%);
}

.nav-link:hover {
    font-weight: bold;
}

@media (max-width: 1000px) {
    main {
        grid-template-areas:
            "content1 content1 content1"
            "content2 content2 content2"
            "content3 content3 content3"
            "content4 content4 content4"
            "content5 content5 content5";
    }
    #navbar {
        visibility: hidden;
    }
    .bg-graphic {
        visibility: hidden;
    }
}

header {
    font-weight: bold;
    font-size: 1.5rem;
}

code {
    display: flex;
    background: hsl(0 0% 80%);
    padding: 5px;
}

.bg-graphic {
    position: fixed;
    margin: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 20%;
    height: 100%;
    z-index: -1;
    background-color: hsl(0 0% 10%);
    border-radius: 0px;
    box-shadow: 0px 90px 0px 10000px white;
}