main {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "navbar content1 margin"
        "navbar content2 margin"
        "navbar content3 margin"
        "navbar content4 margin"
        "navbar content5 margin";
}

#Hello_World {
    grid-area: content1;
}

#Variables_and_Data_Types {
    grid-area: content2;
}

#Conditionals {
    grid-area: content3;
}

#Loops {
    grid-area: content4;
}

#Putting_it_all_Together {
    grid-area: content5;
}

#navbar {
    grid-area: navbar;
}

@media (max-width: 1000px) {
    main {
        grid-template-areas:
            "content1 content1 content1"
            "content2 content2 content2"
            "content3 content3 content3"
            "content4 content4 content4"
            "content5 content5 content5";
    }
}